<% content_for :body_content_left do %>
  <ul id="page_templates">
    <% @page_templates.each do |page_template| %>
      <li>
        <%= link_to page_template.name, page_template_path(page_template) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
